<?xml version="1.0" encoding="utf-8" ?> 
<Configurations>
  <connectionStrings>
    <connectionString>
      <providerName>Npgsql.EntityFrameworkCore</providerName>
      <Value>Host=localhost;Port=5432;Database=dbSMOil;Username=postgres;Password=postgres;</Value>
    </connectionString>
  </connectionStrings>
</Configurations>